In [33]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

string = " hello my name is pratish,i am a data scientist and i working at Meta "
string

tuple = ('pratish','datascience',21,58,79,'$')
print('tuple')

list = [1,5,7,9,1,[100,10,21],'pratish']
print(list)

set = {1,2,3,65,2,165}
print(set)

float = 1.25
print(float)

tuple
[1, 5, 7, 9, 1, [100, 10, 21], 'pratish']
{65, 2, 3, 1, 165}
1.25

In [34]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS','ML','Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [35]:
# What will be the data type of the above given variable.
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

a = 50
b = 5

#divide operator
print(a/b)

#modulas
print(a%b)

#divide and get answer in int form
print(a//b)

#square
# square of 5 = 25
print(b**2)

10.0
0
10
25

In [36]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

list = [1,2,'pratish',7.77,[25,45,75],True,False,'a',a*2j,'#','hello fm']

for i in list :
    print('element : ',i,',data type : ',type(i))

element :  1 ,data type :  <class 'int'>
element :  2 ,data type :  <class 'int'>
element :  pratish ,data type :  <class 'str'>
element :  7.77 ,data type :  <class 'float'>
element :  [25, 45, 75] ,data type :  <class 'list'>
element :  True ,data type :  <class 'bool'>
element :  False ,data type :  <class 'bool'>
element :  a ,data type :  <class 'str'>
element :  100j ,data type :  <class 'complex'>
element :  # ,data type :  <class 'str'>
element :  hello fm ,data type :  <class 'str'>

In [37]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

a = 15
b = 3

while a%b == 0:
    print(f"{a} is puerly divisible by {b}\nand {int(a/b)} times it can be divisible")
    break
else : 
    print(f"{a} is not puerly divisible by {b}")

15 is puerly divisible by 3
and 5 times it can be divisible

In [1]:

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

a = list(range(1,26))
type(a)

for i in a :
    if (i%3 == 0):
        print(f"{i} is divisible by 3")
    else : 
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

#list is mutable 

l1 = [1,2,3,4,5]
print(l1)
l1.insert(5, 6) 
print(l1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [39]:
tuple = (1,2,3,4,5)
print(tuple)
# tuple.insert(5,6) # we cannot change tuple after once created
# print(tuple)

(1, 2, 3, 4, 5)